
<div class="container-fluid" *ngIf="vault">
  <nav class="navbar navbar-expand row">
    <ul class="navbar-nav col-3">
      <li class="nav-item"><a class="nav-link" [routerLink]="'/dashboard'">Dashboard</a></li>
    </ul>
    <ul class="navbar-nav col-6 justify-content-center">
      <li class="nav-item"><a class="nav-link" href="#" (click)="lockVault()"><fa-icon icon="lock"></fa-icon> Lock Vault</a></li>
    </ul>
    <ul class="navbar-nav col-3 justify-content-end">
      <li class="nav-item right"><a class="nav-link" href="#" (click)="editEntry()"><fa-icon icon="plus"></fa-icon> New Entry</a></li>
    </ul>
  </nav>

  <div class="row">
    <div class="col-12">
      <h2>Vault: {{vault.name}}</h2>
      <p class="small">{{vault.description}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <h5 class="text-primary">Categories</h5>
      <div class="btn-group-vertical stretch">
        <button
          class="btn btn-secondary"
          [class.active]="category===selectedCategory"
          (click)="onCategoryClicked(category)"
          *ngFor="let category of categories">
          <fa-icon icon="tags"></fa-icon>&nbsp;
          <fa-icon [icon]="category.icon"></fa-icon>
          &nbsp; {{category.name}}
          <span class="badge badge-pill badge-info float-right">
            {{entryCountPerCategory(category)}}
          </span>
        </button>
      </div>
    </div>

    <div class="col-5 list-group">
      <button
        class="list-group-item list-group-item-action"
        [class.active]="entry===selectedEntry"
        (click)="onEntryClicked(entry)"
        *ngFor="let entry of entries">
        <h5>
          <fa-icon [icon]="entry.icon.icon"></fa-icon>
          &nbsp;{{entry.name}}
        </h5>
        <span class="small">
          <fa-icon icon="user-alt"></fa-icon>
          &nbsp;{{entry.username}}
        </span>
      </button>
    </div>

    <div class="col-4">
      <app-vault-entry
        [entry]="selectedEntry"
        (editEntry)="editEntry($event)"
        *ngIf="selectedEntry; else empty"></app-vault-entry>
      <ng-template #empty>
        <p class="hint">no entry selected!</p>
      </ng-template>
    </div>
  </div>
</div>
