<div class="container">
  <h2 *ngIf="entryName; else newEntry">Edit entry: {{entryName}}</h2>
  <ng-template #newEntry>
    <h2>New entry</h2>
  </ng-template>

  <form [formGroup]="entryForm" (submit)="updateEntry()">
    <div class="form-group row">
      <label class="col-1" for="entryName">Name</label>
      <div class="col-11">
        <input class="form-control" id="entryName" formControlName="name" />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-1" for="entryUsername">Username</label>
      <div class="col-11">
        <input class="form-control" id="entryUsername" formControlName="username" />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-1" for="entryPassword">Password</label>
      <div class="col-11">
        <input class="form-control" id="entryPassword" type="password" formControlName="password" />
      </div>
    </div>

    <div class="btn-group">
      <button class="btn btn-success" type="submit" [disabled]="entryForm.invalid">
        <fa-icon icon="save"></fa-icon>
        Save
      </button>
      <a class="btn btn-warning" [routerLink]="['/vault']" [queryParams]="vaultParam$ | async">Vault</a>
    </div>
  </form>
</div>
