
<div class="card">
  <div class="card-header">
    <h4 class="card-title">
      <fa-icon [icon]="entry.icon"></fa-icon>
      &nbsp; {{entry.name}}
    </h4>
  </div>
  <div class="card-body">

    <div class="input-group" *ngFor="let field of entryFields">
      <div class="input-group-prepend">
        <fa-icon class="input-group-text" [icon]="field.icon"></fa-icon>
      </div>
      <label class="form-control" *ngIf="field.protected; else unprotected">{{stars}}</label>
      <ng-template #unprotected>
        <label class="form-control">{{field.value}}</label>
      </ng-template>
      <div class="input-group-append">
        <button class="btn btn-secondary" (click)="copyValue(field)">
          <fa-icon icon="clone"></fa-icon>
        </button>
      </div>
    </div>

  </div>
</div>
