<div class="container">
  <h1 class="text-center">Welcome to your personal vault.</h1>

  <div class="row row-centered">
    <div class="col-6 btn-group-vertical">
      <a class="btn btn-primary btn-lg stretch" [routerLink]="'/vault/new'">New vault ...</a>
      <button class="btn btn-secondary btn-lg stretch">Open vault ...</button>
    </div>

  </div>

  <div class="row row-centered mt-4">
    <div class="col-6 btn-group-vertical">
      <button class="btn btn-outline-info btn-lg stretch">test.enc</button>
      <button class="btn btn-outline-info btn-lg stretch">test-2.enc</button>
      <button class="btn btn-outline-info btn-lg stretch">personal.enc</button>
    </div>
  </div>
</div>
