<div class="container">
  <h1 class="text-center">Welcome to your personal vault.</h1>

  <div class="row row-centered">
    <div class="col-6 btn-group-vertical">
      <button class="btn btn-primary btn-lg stretch" (click)="showOpenDialog()">
        <fa-icon icon="folder-open"></fa-icon>
        Open vault ...</button>
      <a class="btn btn-secondary btn-lg stretch" [routerLink]="'/vault/new'">
        <fa-icon icon="plus"></fa-icon>
        New vault ...</a>
    </div>

  </div>

  <div class="row row-centered mt-4">
    <p *ngIf="recentVaults.length === 0">No previously opened vaults available!</p>
    <div class="col-6 btn-group-vertical" *ngIf="recentVaults.length > 0">
      <button
        class="btn btn-outline-info btn-lg stretch"
        *ngFor="let path of recentVaults"
        (click)="openVault(path)">
        {{path}}
      </button>
    </div>
  </div>
</div>
