/* You can add global styles to this file, and also import other style files */
@import '~assets/theme/superhero-variables';
@import '~bootstrap/scss/bootstrap';
@import '~assets/theme/superhero-bootswatch';

@import '~assets/scss/util';

.row {
  &-centered {
    justify-content: center;
  }
}

.hint {
  @extend .text-info;
  text-align: center;
}

.fade-in {
  animation: 1s fadein;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
